<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>BookFere-Tools</name>
        <version>1.0.3</version>
        <author>bookfere.com</author>
        <id>bookfere</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
